@import "./assets/scss/abstracts/base";
@import "./assets/scss/abstracts/mixin";
@import "./assets/scss/abstracts/variables";

.app-header {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
    url("assets/img/background.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    @include flexPosition;

    &__section {
        background-color: white;
        padding: 10rem 5rem;
        border-radius: 2rem;
    }

    &__texto {
        color: color(primary);
        font-size: size(xl);
        text-transform: uppercase;
        border-bottom: 1rem solid darken(color(primary), .7);
    }
}

